@font-face{
  font-family: OpenSans;
  src: url('/src/assets/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

/* Text container for intro */
.intro-text h1 {
  margin: 10px 0;
  font-size: 2rem;
}

.intro-text h2 {
  font-size: 1.5rem;
}

h1 {
  font-family: 'OpenSans';
  color: #8dc8ff;
  font-weight: 700;
  font-size: 40px;
}

h2 {
  color: #cde6f5;
  font-weight: 400;
  font-size: 24px;
  font-family: 'OpenSans';
}

p {
  color: white;
  margin-bottom: 2%;
  font-family: 'OpenSans';
  font-size: 1.0rem;
}

.text-db {
  color:#8dc8ff;
}

.text-lb {
  color: #bee2f8;
}