#about-main {
  height: 100vh;
  color: black;
  /* text-align: center; */
  padding-top: 10vh;
  margin: 0px;
  padding: 20px;
  /* background-color: #f5ebe0; */
}

.text {
  padding: 5%;
  display: flex;
}

.about-tw {
  color: black;
  text-align: left;
}

.about-img {
  background-color: darkgray;
  max-width: 300px;
  margin: 20px;
}

.about-txt {
  padding: 10%;
  align-self: flex-start;
  text-align: left;
}

.hero-content {
  max-width: 500px;
}

.emphasis {
  color: hsl(var(--a));
  font-weight: 600;
}