.about-tw {
  color: black;
  text-align: left;
}

.hero-content {
  max-width: 500px;
}

.emphasis {
  color: hsl(var(--a));
  font-weight: 600;
}

.puzzle {
  font-weight: 600;
  text-decoration: underline;
}
