@tailwind base;
@tailwind components;
@tailwind utilities;

#exp-main {
  height: 100vh;
  color: black;
  /* padding: 30px; */
  /* margin: 0px; */
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  padding: 50px;
}

.intern {
  text-align: left;
  padding: 25px;
}

.collapse {
  margin-top: 0px;
}

.img {
  max-width: 150px;
  padding: 10px;
}

.collapse-content {
  display: flex;
  flex-direction: row;
}

/* .exp-desc {
  padding: 10px;
} */

.date {
  font-weight: 600;
}

/* .bg {
  background-color: #d6ccc2;
} */

.tech-stack {
  font-style: italic;
}

#company1:checked ~ .collapse-title{
  background-color: hsl(var(--b2))
}

#company2:checked ~ .collapse-title{
  background-color: hsl(var(--b2))
}

#company3:checked ~ .collapse-title{
  background-color: hsl(var(--b2))
}

#company4:checked ~ .collapse-title{
  background-color: hsl(var(--b2))
}