#exp-main {
  height: 100vh;
  color: black;
  padding-top: 10vh;
  margin: 0px;
  padding: 20px;
  overflow: scroll;
}

.intern {
  text-align: left;
  padding: 10%;

}

.date {
  font-weight: 600;
}


.badge {
  margin: 2px;
}

.company:hover {
  color: hsl(var(--a));
  text-decoration: underline;
}