@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: FiraCode;
  src: url('/src/assets/Fira_Code/static/FiraCode-Regular.ttf');
}

p {
  margin: 0px;
  padding: 0px;
}

.App{ 
  margin: 0px;
  padding: 0px;
}

.arrow {
  max-width: 50px;
}

.arrow:hover {
  transform: rotate(90deg);
}

.py-6 {
  color: white;
}

.arrow-link:hover {
  transform: rotate(90deg);
}


.Typewriter__wrapper{
  color: white;
  font-family: FiraCode;
  font-weight: 400;
  font-size: 180%;
}

.Typewriter__cursor {
  text-decoration: none;
  animation: Typewriter-cursor 1s infinite;
  margin-left: 1px;
  font-size: 2em;
  color: black;
}
