@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #554640; 
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  background-color: #3d322e;
}

/* Intro text styling */ 
.intro-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  max-width: 30vw;
  position: sticky;
  align-items: center;
  justify-content: left;
}

.info-container{
  display: flex;
  flex-direction: column;
  padding: 5%;
  row-gap: 10%;
  overflow: scroll;
  height: 100vh;
  max-width: 60vw;
}

.about-me-text:hover{
  background-color: #574741;
  border-radius: 10px;
}

/* sidebar styling */
.about-me-text {
  text-align: left;
  padding: 10px;
}

.intro-img {
  transition: transform 0.3s ease-in-out;
}

.intro-img:hover {
  animation: rotate 3s ease-in-out infinite;
}

@keyframes rotate{
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* footer styling */
.notes{
  display: flex;
  flex-direction:column;
  gap: 0;
}

.footer-text{
  margin-bottom: 0;
}