@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: FiraCode;
  src: url('/src/assets/Fira_Code/static/FiraCode-Regular.ttf');
}

p {
  margin: 0px;
  padding: 0px;
}

.App{ 
  margin: 0px;
  padding: 0px;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.one {
  background-color: rgb(19, 18, 18);
  height: 100vh;
  text-align: center;
  padding-top: 50vh;
  margin: 0px;
  text-align:center;
}

.s {
  color: rgb(117, 216, 244);
}

.Typewriter__wrapper{
  color: white;
  font-family: FiraCode;
  font-weight: 400;
  font-size: 180%;
}

.Typewriter__cursor {
  text-decoration: none;
  animation: Typewriter-cursor 1s infinite;
  margin-left: 1px;
  font-size: 2em;
  color: white;
}

.two {
  background-color: #e3d5ca;
  height: 100vh;
}

.three {
  background-color: #f5ebe0;
  height: 100vh;
}

.header {
  background-color: #d6ccc2;
}